#[derive(Interface, Serialize)]
#[graphql(
    name = "Resource",
    rename_fields = "PascalCase",
    field(name = "id", ty = "String"),
    field(name = "type_name", ty = "String"),
    field(name = "all_properties", ty = "String"),
)]
pub enum Resource {
    {{- range . }}
    {{ .RustResourceName }}({{ .RustResourceName }}),
    {{- end }}
    Node(Node),
}
