#[derive(SimpleObject, Serialize)]
#[graphql(name = "{{ .GraphQlResourceName }}", rename_fields = "camelCase", complex)]
pub struct {{ .RustResourceName }} {
    {{- range .Properties }}
    pub {{ .RustPropertyName }}: {{ .RustPropertyType }},
    {{- end }}
}

#[ComplexObject(rename_fields = "camelCase")]
impl {{ .RustResourceName }} {
    pub async fn r#type(&self) -> String {
        AWS_RESOURCE_TYPE.to_string()
    }
    pub async fn resource_type(&self) -> String {
        "{{ .CfnResourceName }}".to_string()
    }
}